/* Overall styles for the navigation bar */
.navbar {
    background-color: #313030;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
    color: rgb(180, 72, 234); /* A soft pink color */
    transform: translateY(-2px);
}

.nav-link:active {
    color: #d5005c; /* A darker pink when clicked */
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #a21ee9;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}
